{% extends 'base.html' %}
{% load static %}

{% block title %}Daily Summary for User{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/adddata.css' %}">
<link rel="stylesheet" href="{% static 'css/dailylog.css' %}">
{% endblock %}

{% block content %}
{% if  user.is_authenticated  %}
<div class="container">
    <div style="background-color:#1ab1ff; "> <h2 style="margin-top: 50px; margin-left: 10px; color: white; ">Daily Summary for {{ user.name }}</h2></div>
    
    <!-- Date Filter -->
    <form method="GET" action="{% url 'tracker:daily_summery_for_admin' user.id %}" class="date-filter-form" style="margin-left:15px">
        <label for="filter-date">Filter by Date:</label>
        <input type="date" id="filter-date" name="date" value="{{ request.GET.date|default:'' }}">
        <button type="submit" class="btn btn-primary" style="margin-left: 15px; margin-top: 20px;">Filter</button>
    </form>

    <!-- Daily Summary Logs -->
    <div class="logs-container">
        <div class="logs-section-summery">
            <h3>Daily Summary Logs</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>BMR</th>
                        <th>Calories In</th>
                        <th>Calories Out</th>
                        <th>Net Calories</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for summary in summaries %}
                    <tr>
                        <td>{{ summary.date }}</td>
                        <td>{{ summary.bmr }}</td>
                        <td>{{ summary.calories_in }}</td>
                        <td>{{ summary.calories_out }}</td>
                        <td>{{ summary.net_calories }}</td>
                        <td>
                            <a href="{% url 'tracker:daily_logs' user.id summary.date|date:'Y-m-d' %}" class="btn btn-primary" style="text-decoration: none;">View</a>


                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No records found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}
